/* Section Background */
.about-section {
  background-color: #f8f8f8;
}

/* Title */
.about-title {
  font-size: 2.5rem;
  font-weight: 700;
}

.about-title span {
  color: #ffcc00;
}

/* Text */
.about-text {
  font-size: 1.1rem;
  color: #444;
  margin-bottom: 12px;
  line-height: 1.7;
}

/* Button */
.about-btn {
  background-color: #ffcc00;
  color: #000;
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 1.1rem;
  transition: 0.3s;
}

.about-btn:hover {
  background-color: #e6b800;
  color: #000;
}

/* Image Styling */
.about-img-wrapper {
  overflow: hidden;
  border-radius: 12px;
}

.about-img {
  transition: transform 0.4s ease;
}

.about-img:hover {
  transform: scale(1.05);
}

/* Responsive */
@media (max-width: 768px) {
  .about-title {
    font-size: 2rem;
  }
}
