/* Section Background */
.services-section {
  background-color: #ffffff;
}

/* Title */
.services-title {
  font-size: 2.6rem;
  font-weight: 700;
}

.services-title span {
  color: #ffcc00;
}

.services-subtitle {
  color: #666;
  font-size: 1.1rem;
}

/* Service Card */
.service-card {
  background: #fff;
  border-radius: 15px;
  transition: 0.3s;
  cursor: pointer;
}

.service-card:hover {
  transform: translateY(-8px);
}

/* Icons */
.service-icon {
  font-size: 3rem;
  color: #ffcc00;
}

/* Text */
.service-title {
  font-size: 1.4rem;
  font-weight: 600;
}

.service-text {
  color: #666;
  font-size: 1rem;
  margin-top: 8px;
}

/* Responsive */
@media (max-width: 768px) {
  .services-title {
    font-size: 2rem;
  }
}
